<div id="<%= dom_id group %>" class='flex gap-6 items-center rounded p-3 shadow-lg'>

  <img src=<%=group.icon%> alt=<%=group.name%> class='w-12 h-12'>
  <div>
    <%= link_to group.name, entities_path, class: "text-2xl" %>
    <p class=' text-xs'><%=group.updated_at%></p>
  </div>
  
  <p class=' text-lg'>$23</p>
  
</div>
<hr class="my-6">